@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");

body{
    font-family: sans-serif;
  background: linear-gradient(90deg, #bac8f4 0%, #ffffff 100%);
}
.nav-link {

color: rgb(7, 102, 21);    
}

.navbar-nav .nav-link.active{

    color: blue;
}

.navbar-brand img{
    width: 120px;
}




a[href*="http"] {
  background: url("static\files\icons8-external-link-26.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

.pravoruch{
  background: linear-gradient(90deg, #bac8f4 0%, #ffffff 100%);   
}

.cena {
  color: crimson;
}

a {
   text-decoration: none;
   display: inline-block;
   padding: 5px 10px;
   letter-spacing: 1px;
   margin: 0 20px;
   font-size: 18px;
   /* font-family: 'Fredoka One', cursive; */ */
   transition: .3s ease-in-out;
}

.s3 {
   color: #3e251d;
   border: 2px solid transparent;
}
.s3:hover {
   border: 2px solid #ccf8cf;
   border-radius: 2px;
   
   background-color: #c6f4cb;
}

.link_style {
  /* color: #4d5eaa;  */
  /* border-bottom: 1px dashed;  */
  text-decoration: none;
 border-bottom: 2px dashed DarkOrchid;
  padding-bottom: 3px;
}

a:hover {
  color: #154088; 
  border-bottom: .07em solid;
}
a:active {
  color: #497DDD; 
  border-bottom: 1px dashed; */
} 